.framework-pc {
    width: 1200px;
    height: 733px;
    .footer {
        position: absolute;
        top: 522px;
        left: 0%;
        right: 0%;
        width: calc(100% - 0% - 0%);
        height: 212px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        row-gap: 32px;
        column-gap: 32px;
        padding: 32px;
        overflow: hidden;
        background: #FFFFFF;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
        border-color: #D9D9D9;
        .menu-separator {
            flex-shrink: 0;
            align-self: stretch;
            width: 1136px;
            height: 17px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 8px 0px 8px 0px;
            .rule {
                flex-shrink: 0;
                align-self: stretch;
                width: 1136px;
                height: 1px;
                background: #D9D9D9;
            }
        }
        .text-link-list-item {
            flex-shrink: 0;
            width: 1096px;
            height: 44px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            row-gap: 0px;
            .text----000-00-00000---2021--0459---000------11-2---1666-2837 {
                flex-shrink: 0;
                width: 561px;
                height: 45px;
                color: #1E1E1E;
                font-family: "Inter";
                font-size: 16px;
                line-height: 22.4px;
                font-weight: 400;
                display: flex;
                align-items: center;
            }
            .text--- {
                flex-shrink: 0;
                width: 236px;
                height: 23px;
                color: #1E1E1E;
                white-space: nowrap;
                font-family: "Inter";
                font-size: 16px;
                line-height: 22.4px;
                font-weight: 400;
                display: flex;
                align-items: center;
            }
        }
        .text-link-list-item-1 {
            flex-shrink: 0;
            width: 1096px;
            height: 23px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;
            row-gap: 0px;
            .text--healinker-all-rights-reserved {
                flex-grow: 1;
                width: 1096px;
                height: 23px;
                color: #1E1E1E;
                font-family: "Inter";
                font-size: 16px;
                line-height: 22.4px;
                font-weight: 400;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    }
    .hero-actions {
        position: absolute;
        top: 9.82%;
        left: 0%;
        right: 0%;
        bottom: 28.79%;
        width: calc(100% - 0% - 0%);
        height: calc(100% - 9.82% - 28.79%);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        row-gap: 32px;
        column-gap: 32px;
        padding: 96px 24px 96px 24px;
        background: #F5F5F5;
        .text-content-title {
            flex-shrink: 0;
            align-self: stretch;
            width: 1152px;
            height: 39px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            row-gap: 8px;
            column-gap: 8px;
            .title {
                flex-shrink: 0;
                align-self: stretch;
                width: 1152px;
                height: 39px;
                color: #1E1E1E;
                font-family: "Inter";
                font-size: 32px;
                line-height: 38.4px;
                font-weight: 400;
                text-align: center;
            }
            .subtitle {
                flex-shrink: 0;
                align-self: stretch;
                width: 151px;
                height: 154px;
                color: #757575;
                visibility: hidden;
                font-family: "Inter";
                font-size: 32px;
                line-height: 38.4px;
                font-weight: 400;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
        .stats-card {
            flex-shrink: 0;
            width: 523px;
            height: 132px;
            min-width: 240px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            row-gap: 24px;
            column-gap: 24px;
            padding: 24px;
            background: #FFFFFF;
            border: 0px solid #D9D9D9;
            .button {
                flex-shrink: 0;
                width: 112px;
                height: 40px;
                border-radius: 8px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                column-gap: 8px;
                row-gap: 0px;
                padding: 12px;
                overflow: hidden;
                background: #2C2C2C;
                border: 0px solid #2C2C2C;
                .file {
                    flex-shrink: 0;
                    width: 16px;
                    height: 16px;
                }
                .button-1 {
                    flex-shrink: 0;
                    width: 64px;
                    height: 16px;
                    color: #F5F5F5;
                    white-space: nowrap;
                    font-family: "Inter";
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: 400;
                }
                .x {
                    flex-shrink: 0;
                }
            }
            .review-body {
                flex-shrink: 0;
                align-self: stretch;
                width: 475px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                row-gap: 4px;
                column-gap: 4px;
                .text {
                    flex-shrink: 0;
                    align-self: stretch;
                    width: 475px;
                    height: 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: start;
                    row-gap: 0px;
                    .text-1 {
                        flex-shrink: 0;
                        width: 219px;
                        height: 20px;
                        color: #1E1E1E;
                        white-space: nowrap;
                        font-family: "Inter";
                        font-size: 14px;
                        line-height: 19.6px;
                        font-weight: 400;
                        text-align: center;
                    }
                }
            }
        }
    }
    .header {
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 90.18%;
        width: calc(100% - 0% - 0%);
        height: calc(100% - 0% - 90.18%);
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px 24px;
        padding: 16px 32px 16px 32px;
        overflow: hidden;
        background: #FFFFFF;
        border-width: 0px 0px 1px 0px;
        border-style: solid;
        border-color: #D9D9D9;
        .block {
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            column-gap: 24px;
            row-gap: 0px;
            .logo {
                flex-shrink: 0;
                width: 40px;
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                row-gap: 0px;
                .bi-temporary {
                    flex-shrink: 0;
                    width: 151px;
                    height: 40px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    column-gap: 4px;
                    row-gap: 0px;
                    .vector {
                        flex-shrink: 0;
                        width: 40px;
                        height: 40px;
                    }
                    .healinker {
                        flex-shrink: 0;
                        width: 107px;
                        height: 29px;
                        color: #000000;
                        white-space: nowrap;
                        font-family: "Inter";
                        font-size: 24px;
                        line-height: 28.8px;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
        .navigation-pill-list {
            flex-grow: 1;
            width: 979px;
            height: 32px;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            flex-wrap: wrap;
            gap: 8px 8px;
        }
        .button-2 {
            flex-shrink: 0;
            width: 69px;
            height: 40px;
            border-radius: 8px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 8px;
            row-gap: 0px;
            padding: 12px;
            overflow: hidden;
            .button-3 {
                flex-shrink: 0;
                width: 45px;
                height: 16px;
                color: #303030;
                white-space: nowrap;
                font-family: "Inter";
                font-size: 16px;
                line-height: 16px;
                font-weight: 400;
            }
            .x-1 {
                flex-shrink: 0;
            }
        }
    }
    .popover {
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        width: calc(100% - 0% - 0%);
        height: calc(100% - 0% - 0%);
        overflow: hidden;
        background: rgba(255, 255, 255, 0.5);
        .form-contact {
            position: absolute;
            top: 194px;
            left: 440px;
            width: 320px;
            height: 345px;
            min-width: 320px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 24px;
            column-gap: 24px;
            padding: 24px 24px 48px 24px;
            overflow: hidden;
            background: #FFFFFF;
            border: 0px solid #D9D9D9;
            .block-1 {
                flex-shrink: 0;
                width: 151px;
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                column-gap: 24px;
                row-gap: 0px;
                .logo-1 {
                    flex-shrink: 0;
                    width: 151px;
                    height: 40px;
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    row-gap: 0px;
                    .bi-temporary-1 {
                        flex-shrink: 0;
                        width: 151px;
                        height: 40px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        column-gap: 4px;
                        row-gap: 0px;
                        .vector-1 {
                            flex-shrink: 0;
                            width: 41px;
                            height: 40px;
                        }
                        .healinker-1 {
                            flex-shrink: 0;
                            width: 107px;
                            height: 29px;
                            color: #000000;
                            white-space: nowrap;
                            font-family: "Inter";
                            font-size: 24px;
                            line-height: 28.8px;
                            font-weight: 600;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
            .text----1 {
                flex-shrink: 0;
                align-self: stretch;
                width: 272px;
                height: 29px;
                color: #2C2C2C;
                font-family: "Inter";
                font-size: 24px;
                line-height: 28.8px;
                font-weight: 600;
                text-align: center;
            }
            .frame-2 {
                flex-shrink: 0;
                align-self: stretch;
                width: 272px;
                height: 92px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                row-gap: 12px;
                column-gap: 12px;
                .button-group {
                    flex-shrink: 0;
                    align-self: stretch;
                    width: 272px;
                    height: 40px;
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    column-gap: 16px;
                    row-gap: 0px;
                    .button-4 {
                        flex-grow: 1;
                        width: 112px;
                        height: 40px;
                        border-radius: 8px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        column-gap: 8px;
                        row-gap: 0px;
                        padding: 12px;
                        overflow: hidden;
                        visibility: hidden;
                        .star {
                            flex-shrink: 0;
                        }
                        .button-5 {
                            flex-shrink: 0;
                            width: 51px;
                            height: 16px;
                            color: #303030;
                            white-space: nowrap;
                            font-family: "Inter";
                            font-size: 16px;
                            line-height: 16px;
                            font-weight: 400;
                        }
                        .x-2 {
                            flex-shrink: 0;
                        }
                    }
                    .button-6 {
                        flex-grow: 1;
                        width: 272px;
                        height: 40px;
                        border-radius: 8px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        column-gap: 8px;
                        row-gap: 0px;
                        padding: 12px;
                        overflow: hidden;
                        border: 0px solid #D9D9D9;
                        .kakao {
                            flex-shrink: 0;
                            width: 16px;
                            height: 16px;
                            .rectangle---yellow-1 {
                                position: absolute;
                                top: 0%;
                                left: 0%;
                                right: 0%;
                                bottom: 0%;
                                width: calc(100% - 0% - 0%);
                                height: calc(100% - 0% - 0%);
                                object-fit: cover;
                            }
                        }
                        .button-7 {
                            flex-shrink: 0;
                            width: 123px;
                            height: 16px;
                            color: #303030;
                            white-space: nowrap;
                            font-family: "Inter";
                            font-size: 16px;
                            line-height: 16px;
                            font-weight: 400;
                        }
                        .x-3 {
                            flex-shrink: 0;
                        }
                    }
                }
                .button-group-1 {
                    flex-shrink: 0;
                    align-self: stretch;
                    width: 272px;
                    height: 40px;
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    column-gap: 16px;
                    row-gap: 0px;
                    .button-8 {
                        flex-grow: 1;
                        width: 112px;
                        height: 40px;
                        border-radius: 8px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        column-gap: 8px;
                        row-gap: 0px;
                        padding: 12px;
                        overflow: hidden;
                        visibility: hidden;
                        .star-1 {
                            flex-shrink: 0;
                        }
                        .button-9 {
                            flex-shrink: 0;
                            width: 51px;
                            height: 16px;
                            color: #303030;
                            white-space: nowrap;
                            font-family: "Inter";
                            font-size: 16px;
                            line-height: 16px;
                            font-weight: 400;
                        }
                        .x-4 {
                            flex-shrink: 0;
                        }
                    }
                    .button-10 {
                        flex-grow: 1;
                        width: 272px;
                        height: 40px;
                        border-radius: 8px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        column-gap: 8px;
                        row-gap: 0px;
                        padding: 12px;
                        overflow: hidden;
                        border: 0px solid #000000;
                        .mail {
                            flex-shrink: 0;
                            width: 17px;
                            height: 16px;
                        }
                        .button-11 {
                            flex-shrink: 0;
                            width: 123px;
                            height: 16px;
                            color: #303030;
                            white-space: nowrap;
                            font-family: "Inter";
                            font-size: 16px;
                            line-height: 16px;
                            font-weight: 400;
                        }
                        .x-5 {
                            flex-shrink: 0;
                        }
                    }
                }
            }
            .text--------- {
                flex-shrink: 0;
                width: 272px;
                height: 40px;
                color: #000000;
                font-family: "Inter";
                font-size: 14px;
                line-height: 19.6px;
                font-weight: 400;
            }
        }
    }
}